.containerh{
    background-color: rgb(118, 118, 214);
}
.loginContainer{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border-radius: 8%;
}
.btnContainer{
    position: absolute;
    right: 50px;
    top:150px;
}
.email{
    position: absolute;
    right:90px;
    top:50px;
    border-radius: 15%;
}
.emaillabel{
    position: absolute;
    right:75%;
    top:18%;
}
.passwordlabel{
    position: absolute;
    right:75%;
    top:32%;
}
.password{
    position: absolute;
    right: 90px;
    top:90px;
    border-radius: 15%;

}
.logout:hover{
    background-color: rgb(165, 42, 134);
}
.chart{
    position: absolute;
    right:20px;
    top:140px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 2px;
    padding: 10px;

  }
  
  .grid-container > div {
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
  }
  .gridmain{
      width:58%;
      height:60%;
      position: absolute;
      top:140px;

  }
 
  